{{ define "section_content" }}
<div class="flex-container">
    {{ block "post_metadata" . }}
    {{ partial "post_metadata.html" . }}
    {{ end }}
    <hr />
    <article role="article">
        {{ .Content }}
    </article>
</div>
{{ end }}

{{ define "bottom-menu" }}
<nav role="navigation" class="flex-container bottom-menu">
    <!-- Add prev/next navigation -->
    <hr />
    <aside>
        <div>
            {{ with .PrevInSection }}<a href="{{ .RelPermalink }} ">← {{ .Title }}</a>{{end}}
        </div>
        <div>
            {{ with .NextInSection }}<a href="{{ .RelPermalink }} ">{{ .Title }} →</a>{{end}}
        </div>
    </aside>
    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
</nav>
{{ end }}
