{{ define "section_content" }}
<div class="flex-container">
    {{ block "post_metadata" . }}
    {{ partial "post_metadata.html" . }}
    {{ end }}
    <hr />
    <article role="article">
        {{ .Content }}
    </article>
</div>
{{ end }}

{{ define "bottom-menu" }}
<nav role="navigation" class="flex-container bottom-menu">
    <hr />
    <!-- Add prev/next navigation -->
    {{ if .Params.series }}
        {{ $series := (.Site.Taxonomies.series.Get (index .Params.series 0)) }}
        {{ range $index, $page := $series }}
            {{ if eq $page.Title $.Title }}
                {{ $next := index $series (add $index 1) }}
                {{ if not $next }}{{ $next = .NextInSection }}{{ end }}
                {{ $prev := index $series (sub $index 1) }}
                {{ if not $prev }}{{ $prev = .PrevInSection }}{{ end }}
                {{ partial "navigation.html" (dict "context" . "next" $next  "prev" $prev) }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ partial "navigation.html" (dict "context" . "next" .NextInSection "prev" .PrevInSection) }}
    {{ end }}

    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
</nav>
{{ end }}
